In [18]:
# Dependencies
import requests
import numpy as np
import pandas as pd
from census import Census
import matplotlib.pyplot as plt
from functools import reduce
import functools

In [41]:
census_df_2017 = pd.read_csv("resources/census_data_2017.csv")
census_df_2018 = pd.read_csv("resources/census_data_2018.csv")
census_df_2019 = pd.read_csv("resources/census_data_2019.csv")
census_df_2020 = pd.read_csv("resources/census_data_2020.csv")
census_df_2021 = pd.read_csv("resources/census_data_2021.csv")
# census_df = pd.read_csv("resources/census_data.csv")
# census_df = [census_df_2017, census_df_2018, census_df_2019,census_df_2020,census_df_2021]
# df_final = functools.reduce(lambda left, right: pd.merge(left,right,on='Year'), census_df)
# df4 = pd.merge(pd.merge(census_df_2017[["Year"]], census_df_2018[["Year"]],census_df_2019[["Year"]],census_df_2020[["Year"]],census_df_2021[["Year"]],on='Year'))

# df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Year'],how='outer'), census_df)

In [39]:
cenus_df = pd.concat( [census_df_2017,census_df_2018,census_df_2019,census_df_2020,census_df_2021], ignore_index=True )

In [40]:
census_df

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Education_bachelors,Median_home_value,Year
0,601,17126.0,43.7,15292.0,7587.0,11302.0,65.993227,1592.0,78800.0,2021
1,602,37895.0,44.4,18716.0,10699.0,17121.0,45.180103,4659.0,88500.0,2021
2,603,49136.0,44.1,16789.0,12280.0,23617.0,48.064556,6042.0,121600.0,2021
3,606,5751.0,44.9,18835.0,8574.0,3139.0,54.581812,313.0,96500.0,2021
4,610,26153.0,43.5,21239.0,11638.0,11640.0,44.507322,2769.0,89900.0,2021
...,...,...,...,...,...,...,...,...,...,...
166249,99923,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,NaN,0.0,-666666666.0,2017
166250,99925,901.0,45.1,48646.0,24783.0,210.0,23.307436,37.0,160900.0,2017
166251,99926,1684.0,32.8,57969.0,22927.0,224.0,13.301663,77.0,122600.0,2017
166252,99927,59.0,49.8,17981.0,11959.0,49.0,83.050847,9.0,-666666666.0,2017
166253,99929,2455.0,49.0,55742.0,29861.0,276.0,11.242363,239.0,195900.0,2017